body{
    margin:0;
}

header, nav, section, article, aside, footer{
    outline: 2px solid black;
    outline-offset: 0px;
    height: 20vh;
    margin:0;
    padding:10px;
    box-sizing: border-box;
}

section, article, aside{
    width: 50%;
}

aside{
    height: 40vh;
    float: right;
}

p{
    font-family: sans-serif;
    margin:0;
}

body{
    margin: 0;
    background-color: white;
}

.nav{
    background-color: white;
    border-bottom: 1px solid black;
    
    width:100%;
}

a{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 8px;
    margin: 10px;
    display: inline-block;
    border-radius: 4px;
    transition: background-color .2s;
    font-family: sans-serif;
    font-weight: 600;
}

a:hover{
    background-color:black;
    color:white;
}